body {
  	background: url("bearish_bullish.jpg");
  	background-repeat: no-repeat;
  	background-size: 1920px 1259px;
	margin-top: 43px;
}

h1 {
	color: #00678C;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

p {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	margin-top: 250px;
}

select {
	padding: 10px 10px;
	border: none;
	border-radius: 10px;
	color: white;
	background-color: #0095BF;

}

#vote_down {
	background-color: #32B7BE;
	padding: 40px 40px;
	border: 2px solid white;
	border-radius: 10px;
	color: white;
	opacity: 0.9;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#vote_up {
	background-color: #BBEBEC;
	padding: 40px 40px;
	border: 2px solid white;
	border-radius: 10px;
	color: #29979C;
	opacity: 0.9;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 705px;
	margin-right: 50px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#vote_up:hover {
	background-color: white;
	color: #29979C;
}

#vote_down:hover {
	background-color: #1AA0A8;
	color: white;
}

footer {
	background-color: #043249;
	color: white;
	padding: 20px 20px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

hr {
	display: none;
}

div.voting_form {
	width: 685px;
	height: 355px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 250px;
	border-radius: 25px;
	background: #006988;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}
