1. Потребителят да два своя галс в уеб страница за промяната на цената на валута.

2. Потребителят избира, от списък с налични валути, за коя валута ще гласува.

3. Да се визуализира агрегирана прогноза за очакваната промяна на валутната двойка.
